<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>News Article Sentiment Analysis</title>
  </head>

  <body>
    <header>
      <div class="">
        <h1>News Article Sentiment Analysis</h1>
      </div>
    </header>

    <main>
      <section>
        <form class="">
          <input
            id="url"
            type="text"
            name="input"
            value=""
            placeholder="Enter an article URL here"
          />
          <button id="btnSubmit" type="button" name="" value="submit">
            Submit
          </button>
        </form>
      <section id="results-container">
        <div id="results"></div>
        <div id="model"></div>
        <div id="agreement"></div>
        <div id="subjectivity"></div>
        <div id="confidence"></div>
        <div id="irony"></div>
        <div id="score_tag"></div>
      </section>
    </main>

    <footer>
      <p>By Leroy, 2022</p>
    </footer>
    <script>
      // Check that service workers are supported
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
  </body>
</html>
